.layout {
    height: 100%;
    background-color: lightyellow;
}

.header {
    height: 100px;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav {
    flex: 0 0 250px;
    background-color: gold;
}

.content {
    flex: 1 1 550px;
}